<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Section</title>
    <script src="http://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="bg-yellow-200 px-20">
        <nav>
        <a class="px-20" href="/AddHome"> Add Home </a>
        <a href="/ShowHome"> Show Home </a>
        </nav>
    </h1>
    <h2 class="text-4xl"> Welcome to our hotel </h2>
</body>
</html>