# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage directory
coverage/

# build folders
dist/
build/

# optional
.env.local
.env.development.local
.env.test.local
.env.production.local