<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1><%= HotelId.name %></h1>

<p>Location: <%= HotelId.location %></p>

<p>Price: Rs <%= HotelId.price %></p>

<p>Rating: <%= HotelId.rating %></p>
</body>
</html>